.container {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 20px 20px 100px 20px;
}
.mainForm {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.mainForm button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80px;
  border-radius: 50%;
  background-color: var(--clr-primary-purple);
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputContainer label {
  color: var(--clr-smokey-grey);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.inputContainer input {
  border: 1px solid var(--clr-off-white);
  border-radius: 3px;
  font-weight: 700;
  font-size: 32px;
  outline: none;
  padding: 8px;
  text-transform: uppercase;
}
.inputContainer input:focus {
  border-color: var(--clr-primary-purple);
}
.results {
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  color: var(--clr-off-black);
}
.results span {
  color: var(--clr-primary-purple);
}
