.container {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 20px 20px 100px 20px;
}
.mainForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.mainForm button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}
@media (width <= 600px) {
  #root {
    max-width: 80%;
  }
  .container {
    width: 100%;
    padding: 3rem 1.8rem;
  }
  .mainForm {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 15px;
  }
  .mainForm button {
    grid-column: 2 / 2;
    grid-row: 2 / 3;
  }
}

.mainForm button:hover {
  border: none;
}
.mainForm img {
  background-color: var(--clr-primary-purple);
  border-radius: 50%;
  padding: 15px;
  transition: 0.2s linear;
}
.mainForm img:hover {
  background-color: var(--clr-off-black);
  border-radius: 50%;
  padding: 15px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputContainer label {
  color: var(--clr-smokey-grey);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.inputContainer input {
  border: 1px solid var(--clr-off-white);
  border-radius: 5px;
  font-weight: 700;
  font-size: 32px;
  outline: none;
  padding: 8px;
  text-transform: uppercase;
}
.inputContainer input:focus {
  border-color: var(--clr-primary-purple);
}
/* input:invalid {
  border-color: red;
} */
/* .inputContainer input:valid {
  background-color: palegreen;
}
.inputContainer input:invalid {
  background-color: lightpink;
} */
.empty label {
  color: var(--clr-light-red);
}
.empty input {
  border-color: var(--clr-light-red);
}
/* prettier-ignore */
.empty::after {
  content: "This field is required";
  color: var(--clr-light-red);
  font-size: 14px;
  font-style: italic;
}

.results {
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  color: var(--clr-off-black);
}
.results span {
  color: var(--clr-primary-purple);
}
