.container {
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  border-radius: 20px 20px 100px 20px;
}
.mainForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.mainForm button {
  position: relative;
  padding: 0;
  background-color: transparent;
  border: none;
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.mainForm button:hover {
  border: none;
}
.mainForm img {
  background-color: var(--clr-primary-purple);
  border-radius: 50%;
  padding: 15px;
  transition: 0.2s linear;
}
.mainForm img:hover {
  background-color: var(--clr-off-black);
  border-radius: 50%;
  padding: 15px;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.inputContainer label {
  color: var(--clr-smokey-grey);
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.inputContainer input {
  border: 1px solid var(--clr-off-white);
  border-radius: 3px;
  font-weight: 700;
  font-size: 32px;
  outline: none;
  padding: 8px;
  text-transform: uppercase;
}
.inputContainer input:focus {
  border-color: var(--clr-primary-purple);
}
input:invalid {
  border-color: red;
}
/* .inputContainer input:valid {
  background-color: palegreen;
}
.inputContainer input:invalid {
  background-color: lightpink;
} */
.results {
  font-weight: 900;
  font-style: italic;
  font-size: 70px;
  color: var(--clr-off-black);
}
.results span {
  color: var(--clr-primary-purple);
}
